

{% extends "base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<h1>Student</h1>
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form method="post" action="{% url 'student_register' %}">
  <!-- <form method="post" action="{% url 'student_register' %}"> -->
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  {% endif %}
  <button type="submit">{% trans "Register Student" %} &raquo;</button>
</form>
{% endblock content %}


